In [23]:
# load all packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from joblib import dump, load
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [6]:
#load and print dataset. here 1st row is removed from the original dataset and label column name is renamed to "default"
DataSet = pd.read_csv("default_data1.csv")
print(DataSet)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0             0         0         0         0        1
1          1000      1000         0      2000        1
2          1000      1000      1000      5000        0
3          1200      1100      1069      1000        0
4         10000      9000       689       679        0
...         ...       ...       ...       ...      ...
29995      5003      3047      5000      1000        0
29996      8998       129         0         0        0
29997     22000      4200      2000      3100        1
29998      1178      1926     52964      1804        1
29999      1430      1000      1000      1000        1

[30000 rows x 25 columns]

In [7]:
#Dataset preprocessing......
# ungrouping categorical data {SEX, EDUCATION,MARRIAGE..} to new feature collumns {Male, Female, Grad_School...}
DataSet['SEX'] = DataSet['SEX'].replace(1,'Male')
DataSet['SEX'] = DataSet['SEX'].replace(2,'FeMale')
DataSet['EDUCATION'] = DataSet['EDUCATION'].replace(1,'Grad_School')
DataSet['EDUCATION'] = DataSet['EDUCATION'].replace(2,'University')
DataSet['EDUCATION'] = DataSet['EDUCATION'].replace(3,'High_School')
DataSet['EDUCATION'] = DataSet['EDUCATION'].replace([0,4,5,6],'Educ_Others')
DataSet['MARRIAGE'] = DataSet['MARRIAGE'].replace(1,'Married')
DataSet['MARRIAGE'] = DataSet['MARRIAGE'].replace(2,'Single')
DataSet['MARRIAGE'] = DataSet['MARRIAGE'].replace([0,3],'Marriage_Others')
#adding new feacture collumns 
DataSet = pd.concat((DataSet,pd.get_dummies(DataSet['SEX'])), axis=1)
DataSet = pd.concat((DataSet,pd.get_dummies(DataSet['EDUCATION'])), axis=1)
DataSet = pd.concat((DataSet,pd.get_dummies(DataSet['MARRIAGE'])), axis=1)

In [8]:
print(DataSet)

          ID  LIMIT_BAL     SEX    EDUCATION MARRIAGE  AGE  PAY_0  PAY_2  \
0          1      20000  FeMale   University  Married   24      2      2
1          2     120000  FeMale   University   Single   26     -1      2
2          3      90000  FeMale   University   Single   34      0      0
3          4      50000  FeMale   University  Married   37      0      0
4          5      50000    Male   University  Married   57     -1      0
...      ...        ...     ...          ...      ...  ...    ...    ...
29995  29996     220000    Male  High_School  Married   39      0      0
29996  29997     150000    Male  High_School   Single   43     -1     -1
29997  29998      30000    Male   University   Single   37      4      3
29998  29999      80000    Male  High_School  Married   41      1     -1
29999  30000      50000    Male   University  Married   46      0      0

       PAY_3  PAY_4  ...  default  FeMale  Male  Educ_Others  Grad_School  \
0         -1     -1  ...        1       1     0            0            0
1          0      0  ...        1       1     0            0            0
2          0      0  ...        0       1     0            0            0
3          0      0  ...        0       1     0            0            0
4         -1      0  ...        0       0     1            0            0
...      ...    ...  ...      ...     ...   ...          ...          ...
29995      0      0  ...        0       0     1            0            0
29996     -1     -1  ...        0       0     1            0            0
29997      2     -1  ...        1       0     1            0            0
29998      0      0  ...        1       0     1            0            0
29999      0      0  ...        1       0     1            0            0

       High_School  University  Marriage_Others  Married  Single
0                0           1                0        1       0
1                0           1                0        0       1
2                0           1                0        0       1
3                0           1                0        1       0
4                0           1                0        1       0
...            ...         ...              ...      ...     ...
29995            1           0                0        1       0
29996            1           0                0        0       1
29997            0           1                0        0       1
29998            1           0                0        1       0
29999            0           1                0        1       0

[30000 rows x 34 columns]

In [9]:
#- add age Square -#
DataSet['Age_Sqr'] = DataSet['AGE'] ** 2
#- drop irrelevant -#
DataSet = DataSet.drop(['ID','SEX','EDUCATION','MARRIAGE'],axis=1)
print(DataSet)

       LIMIT_BAL  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  \
0          20000   24      2      2     -1     -1     -2     -2       3913
1         120000   26     -1      2      0      0      0      2       2682
2          90000   34      0      0      0      0      0      0      29239
3          50000   37      0      0      0      0      0      0      46990
4          50000   57     -1      0     -1      0      0      0       8617
...          ...  ...    ...    ...    ...    ...    ...    ...        ...
29995     220000   39      0      0      0      0      0      0     188948
29996     150000   43     -1     -1     -1     -1      0      0       1683
29997      30000   37      4      3      2     -1      0      0       3565
29998      80000   41      1     -1      0      0      0     -1      -1645
29999      50000   46      0      0      0      0      0      0      47929

       BILL_AMT2  ...  FeMale  Male  Educ_Others  Grad_School  High_School  \
0           3102  ...       1     0            0            0            0
1           1725  ...       1     0            0            0            0
2          14027  ...       1     0            0            0            0
3          48233  ...       1     0            0            0            0
4           5670  ...       0     1            0            0            0
...          ...  ...     ...   ...          ...          ...          ...
29995     192815  ...       0     1            0            0            1
29996       1828  ...       0     1            0            0            1
29997       3356  ...       0     1            0            0            0
29998      78379  ...       0     1            0            0            1
29999      48905  ...       0     1            0            0            0

       University  Marriage_Others  Married  Single  Age_Sqr
0               1                0        1       0      576
1               1                0        0       1      676
2               1                0        0       1     1156
3               1                0        1       0     1369
4               1                0        1       0     3249
...           ...              ...      ...     ...      ...
29995           0                0        1       0     1521
29996           0                0        0       1     1849
29997           1                0        0       1     1369
29998           0                0        1       0     1681
29999           1                0        1       0     2116

[30000 rows x 31 columns]

In [21]:
#preprocessing continues.....
# spliting dataset to feature matrix X" and label array "y"
y = DataSet.loc[:, DataSet.columns == 'default']
X = DataSet.drop(['default'],axis=1)
#- convert to arrays -#
X = np.asarray(X)
y = np.asarray(y)
#- normalixing each collumn and 
X = preprocessing.StandardScaler().fit(X).transform(X)
print(X.shape)
#spliting for train/test -#
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(30000, 30)
(12000, 30) (18000, 30) (12000, 1) (18000, 1)

In [15]:
# load NAIVE BAYES model
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [22]:
# train and predict
naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train.ravel())
y_train_pred = naive_bayes.predict(X_train)
y_test_pred = naive_bayes.predict(X_test)
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print("Training Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Training Accuracy: 0.5148333333333334
Test Accuracy: 0.5116666666666667